@media screen and (min-width: 768px) {
  .top-header label {
    display: none;
  }
  .header-wrapper,
  .bottom-header {
    display: flex;
  }

  .header-wrapper {
    width: 80%;
  }
  .top-header .wishlist span:nth-child(2),
  .top-header .cart span:nth-child(2),
  .top-header .user-profile .username {
    display: none;
  }

  .bottom-header ul li:nth-child(3),
  .bottom-header ul li:nth-child(4) {
    display: none;
  }
  .daily-sells-section .wrapper {
    width: 100%;
  }
  .daily-sells-section .expiry-info {
    max-width: 150px;
  }
  #category-section-select,
  #featured-section-select,
  #daily-sells-select {
    display: none;
  }
}
