$primary-color: #24252e;
$secondary-color: #b5aabb;

$section-padding-sm: 20px;
$section-padding-md: 30px;
$section-padding-lg: 50px;
$section-padding-xl: 100px;

$fs-sm: 16px;
$fs-md: 24px;
$fs-lg: 48px;
